[Unit]
Description=MediaMTX Streaming Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/flowerweb/bin
ExecStart=/home/flowerweb/bin/mediamtx /home/flowerweb/bin/mediamtx.yml
Restart=always
RestartSec=3
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
